*, *::after, *::before {
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
}

html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

body {
    font-size: 10px;
}

canvas#game-canvas {
    width: 960px;
    height: 540px;
}

.hide {
    display: none;
}


#container {
    position: relative;
    width: 960px;
}

#score {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top:0px;
    left: 0px;
    right: 0px;
    padding: 1rem;

}

h3 {
    color: rgba(0,0,0,.8);
    flex-grow: 1;
    padding: 0;
    margin: 0;
}

span {
    font-weight: lighter
}

.out-of-time {
    font-weight: bolder;
    color:rgba(255,0,0,.6);
}